<main class="error-page">
  <div class="error-container">
    <h1>ERROR</h1>
    <p>{{error}}</p>
    <a href="/products" class="back-btn">
      <img src="/static/images/back-icon.svg" alt="Back Icon" />Volver al inicio</a>
  </div>
</main>