<main class="landing-page">
  <div class="text-container">
    <h1>EXPRINTIFY</h1>
    <p>"Exprintify" es un proyecto personal que simula un ecommerce de artículos
      de librería. Utiliza una API backend creada con Express para gestionar
      productos y carritos de compra, interactuando con una base de datos
      MongoDB para obtener y almacenar información. Es una solución completa
      para experimentar con la gestión de productos y la integración de backend
      en entornos de ecommerce, ideal para quienes desean desarrollar y probar
      sistemas de ecommerce de manera efectiva.</p>
  </div>
  <a href="/products">Ver productos</a>

</main>