<form id="form" action="/api/sessions/login" method="POST">
  <h1>Login</h1>
  <p>Login to your account</p>
  <label for="email">Email:</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="Enter your email here"
  />
  <br />
  <label for="password">Password:</label>
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Enter your password here"
  />
  <br />
  <input type="submit" value="Login" id="login" />
</form>

<p>Dont have an account?<a href="/register"> Register here!</a></p>