<main class="resetpass-page">
  <div class="reset-container">
    <h1>CAMBIAR <br />CONTRASEÑA</h1>
    <form action="/api/sessions/recover-password" method="POST" id="resetForm">
      <div class="input-box">
        <input type="password" id="password" name="password" required />
        <label for="password">Nueva contraseña</label>
      </div>
      <div class="input-box">
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          required
        />
        <label for="confirmPassword">Confirmar nueva contraseña</label>
      </div>
      <input type="hidden" name="token" value={{token}} />
      <span id="message" data-error={{error}}></span>
      <br />
      <input type="submit" value="Change Password" id="setpass" />
    </form>
  </div>
</main>
<script src="/static/js/validateNewPass.js"></script>