<h1>CHANGE PASSWORD</h1>
<p>Enter a new password</p>
<form action="/api/sessions/recover-password" method="POST">
  <input type="password" name="password" placeholder="New password" required />
  <input
    type="password"
    name="confirmPassword"
    placeholder="Confirm new password"
    required
  />
  <input type="hidden" name="token" value={{token}} />
  <input type="submit" value="Change Password" />
</form>